
@keyframes upDown {
  0% {transform: translateY(-5px);}
  50% {transform: translateY(5px);}
  100% {transform: translateY(-5px);}
}

#logo {
  height: 140px;
  margin-bottom: 30px;
}
#logo:hover {
  cursor:pointer;
}
#logo:active {
  /*link to home page */
}

#container {
  display:flex;
  flex-direction: column;
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
}
.menu {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  font-family:'Source Code Pro', monospace;
  font-size:16px;
  color:#707070;
}

#about {
  color:#707070;
  text-decoration: none;
  padding-bottom: 30px;
  width: 150px;
}
#about:hover {
  cursor:pointer;
  text-decoration: underline;
  text-decoration-color: #FFEE93;
  text-decoration-line: line-through;
  text-decoration-style: double;
}

#design {
  color:#707070;
  text-decoration: none;
  padding-bottom: 30px;
  width: 150px;
}
#design:hover {
  cursor:pointer;
  text-decoration: underline;
  text-decoration-color: #FFEE93;
  text-decoration-line: line-through;
  text-decoration-style: double;
}

#photo {
  color:#707070;
  text-decoration: none;
  padding-bottom: 30px;
  width: 150px;
}
#photo:hover {
  cursor:pointer;
  text-decoration: underline;
  text-decoration-color: #FFEE93;
  text-decoration-line: line-through;
  text-decoration-style: double;
}


#contact {
  height: 140px;
  position:relative;
  margin-left: 45px;
  margin-top: 100px;
}

#name {
  height: 170px;
  position:absolute;
  top:50%;
  left:40%;
  transform: translate(-50%, -50%);
}

#work1{
  height: 250px;
  position:absolute;
  top:3%;
  left: 45%;
}
#work1:hover {
  animation: upDown 1.5s infinite;
}
#work2{
  height: 250px;
  position:absolute;
  top:35%;
  left:65%;
}
#work2:hover {
  animation: upDown 1.5s infinite;
}
#work3{
  height: 250px;
  position:absolute;
  top:68%;
  left:55%;
}
#work3:hover {
  animation: upDown 1.5s infinite;
}
